<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{components/template :: cabecera('Productos')}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- HEADER-->
    <header th:replace="~{components/template :: header}"></header>
    
    <main class="container my-5">
        <section class="py-5 text-center">
            <h1>Nuestros productos</h1>
            <p class="lead">Descubre quiénes somos y qué hacemos.</p>
        </section>
        
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4  g-4 mb-5 pb-5">
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <!-- Sombra para mejor apariencia -->
                    <img src="https://images.pexels.com/photos/16688488/pexels-photo-16688488/free-photo-of-blanco-y-negro-escritorio-ordenador-portatil-oficina.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title">Producto 1</h5>
                        <p class="card-text">Descripción del producto 1. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Sed nec enim velit.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Alineación precio y botón -->
                                <span class="fw-bold fs-5">Precio: $29.99</span>
                                <a href="#" class="btn btn-primary" style="background-color: #4546fd;">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="https://images.pexels.com/photos/20076003/pexels-photo-20076003/free-photo-of-cable-tecnologia-portatil-electronica.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="Producto 2">
                    <div class="card-body">
                        <h5 class="card-title">Producto 2</h5>
                        <p class="card-text">Descripción del producto 1. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Sed nec enim velit.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="fw-bold fs-5">Precio: $49.99</span>
                                <a href="#" class="btn btn-primary" style="background-color: #4546fd;">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card h-100 shadow-sm">
                        <img src="https://images.pexels.com/photos/11002709/pexels-photo-11002709.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                        class="card-img-top" alt="Producto 3">
                        <div class="card-body">
                            <h5 class="card-title">Producto 3</h5>
                            <p class="card-text">Descripción del producto 1. Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Sed nec enim velit.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <span class="fw-bold fs-5">Precio: $79.99</span>
                                    <a href="#" class="btn btn-primary" style="background-color: #4546fd;">Comprar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card h-100 shadow-sm">
                            <!-- Sombra para mejor apariencia -->
                            <img src="https://images.pexels.com/photos/3921803/pexels-photo-3921803.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                            class="card-img-top" alt="Producto 1">
                            <div class="card-body">
                                <h5 class="card-title">Producto 1</h5>
                                <p class="card-text">Descripción del producto 1. Lorem ipsum dolor sit amet, consectetur
                                    adipiscing elit. Sed nec enim velit.</p>
                                    <div class="d-flex justify-content-between align-items-center">
                                        <!-- Alineación precio y botón -->
                                        <span class="fw-bold fs-5">Precio: $29.99</span>
                                        <a href="#" class="btn btn-primary" style="background-color: #4546fd;">Comprar</a>
                                    </div>
                                </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="https://images.pexels.com/photos/1034653/pexels-photo-1034653.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="Producto 2">
                    <div class="card-body">
                        <h5 class="card-title">Producto 2</h5>
                        <p class="card-text">Descripción del producto 1. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Sed nec enim velit.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="fw-bold fs-5">Precio: $49.99</span>
                                <a href="#" class="btn btn-primary" style="background-color: #4546fd;">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="https://images.pexels.com/photos/4581903/pexels-photo-4581903.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="Producto 3">
                    <div class="card-body">
                        <h5 class="card-title">Producto 3</h5>
                        <p class="card-text">Descripción del producto 1. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Sed nec enim velit.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="fw-bold fs-5">Precio: $79.99</span>
                                <a href="#" class="btn btn-primary" style="background-color: #4546fd;">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
                
            <div class="col">
                <div class="card h-100 shadow-sm">
                    <!-- Sombra para mejor apariencia -->
                    <img src="https://images.pexels.com/photos/10343717/pexels-photo-10343717.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="Producto 1">
                    <div class="card-body">
                        <h5 class="card-title">Producto 1</h5>
                        <p class="card-text">Descripción del producto 1. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Sed nec enim velit.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <!-- Alineación precio y botón -->
                            <span class="fw-bold fs-5">Precio: $29.99</span>
                            <a href="#" class="btn btn-primary" style="background-color: #4546fd;">Comprar</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100 shadow-sm">
                    <img src="https://images.pexels.com/photos/577210/pexels-photo-577210.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    class="card-img-top" alt="Producto 3">
                    <div class="card-body">
                        <h5 class="card-title">Producto 3</h5>
                        <p class="card-text">Descripción del producto 1. Lorem ipsum dolor sit amet, consectetur
                            adipiscing elit. Sed nec enim velit.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="fw-bold fs-5">Precio: $79.99</span>
                                <a href="#" class="btn btn-primary" style="background-color: #4546fd;">Comprar</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        <!-- LOGIN MODAL -->
        <th:block th:replace="~{components/template :: modal1}"></th:block>
        
        
    </main>
    
    <!-- FOOTER-->
    <footer th:replace="~{components/template :: footer}"></footer>
    
    <!--SCRIPS-->
    <th:block th:replace="~{components/template :: scripts}"></th:block>
</body>

</html>