<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{components/template :: cabecera('Inicio')}">
    <title>Document</title>
</head>
<body>
    <header th:replace="~{components/template :: header}"></header>
    <main class="container my-4">
        <h1>Año de la serpiente 2025</h1>
        <hr>
        <p>The snake (蛇) is the sixth of the twelve-year cycle of animals which appear in the Chinese zodiac related
            to
            the Chinese calendar. The Year of the Snake is associated with the Earthly Branch symbol 巳.</p>
        <img src="https://img.freepik.com/vector-premium/ano-nuevo-chino-2025-ano-serpiente-2025-signo-o-simbolo_288411-2733.jpg"
            alt="serpiente" class="img-fluid rounded-circle p-2">
        </div>
    </main>
    <footer th:replace="~{components/template :: footer}"></footer>    
    <th:block th:replace="~{components/template :: scripts}"></th:block>
</body>
</html>