<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{components/template :: cabecera('Pronóstico')}">
    <title>Document</title>
</head>

<body>
    <header th:replace="~{components/template :: header}"></header>
    <main class="container my-4">
        <h1>Pronóstico para el 2025</h1>
        <hr>
        <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque earum tempora cumque modi voluptates, expedita, porro, maiores dolor deserunt labore fugiat magni iusto sint inventore nemo ea recusandae eligendi dolorem.
        </p>

    </main>
    <footer th:replace="~{components/template :: footer}"></footer>
    <th:block th:replace="~{components/template :: scripts}"></th:block>
</body>

</html>