<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{components/template :: cabecera(~{::title},~{::enlaces})}">
    <title>Tipos</title>
    <th:block th:fragment="enlaces"/>
</head>

<body>
    <header th:replace="~{components/template :: header}"></header>
    <main class="container my-4">
        <h1>Tipos de serpiente por año</h1>
        <hr>
        <div class="table-responsive"></div>
        <table class="table table-hover table-sm">
            <tbody>
                <tr>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Heavenly branch
                    </th>
                </tr>
                <tr>
                    <td>10 February 1929</td>
                    <td>29 January 1930</td>
                    <td>Earth Snake
                    </td>
                </tr>
                <tr>
                    <td>27 January 1941</td>
                    <td>14 February 1942</td>
                    <td>Metal Snake
                    </td>
                </tr>
                <tr>
                    <td>14 February 1953</td>
                    <td>2 February 1954</td>
                    <td>Water Snake
                    </td>
                </tr>
                <tr>
                    <td>2 February 1965</td>
                    <td>20 January 1966</td>
                    <td>Wood Snake
                    </td>
                </tr>
                <tr>
                    <td>18 February 1977</td>
                    <td>6 February 1978</td>
                    <td>Fire Snake
                    </td>
                </tr>
                <tr>
                    <td>6 February 1989</td>
                    <td>26 January 1990</td>
                    <td>Earth Snake
                    </td>
                </tr>
                <tr>
                    <td>24 January 2001</td>
                    <td>11 February 2002</td>
                    <td>Metal Snake
                    </td>
                </tr>
                <tr>
                    <td>10 February 2013</td>
                    <td>30 January 2014</td>
                    <td>Water Snake
                    </td>
                </tr>
                <tr>
                    <td>29 January 2025</td>
                    <td>16 February 2026</td>
                    <td>Wood Snake
                    </td>
                </tr>
                <tr>
                    <td>15 February 2037</td>
                    <td>3 February 2038</td>
                    <td>Fire Snake
                    </td>
                </tr>
                <tr>
                    <td>2 February 2049</td>
                    <td>22 January 2050</td>
                    <td>Earth Snake
                    </td>
                </tr>
                <tr>
                    <td>21 January 2061</td>
                    <td>8 February 2062</td>
                    <td>Metal Snake </td>
                </tr>
                <tr>
                    <td>7 February 2073</td>
                    <td>26 January 2074</td>
                    <td>Water Snake </td>
                </tr>
                <tr>
                    <td>26 January 2085</td>
                    <td>13 February 2086</td>
                    <td>Wood Snake
                    </td>
                </tr>
                <tr>
                    <td>12 February 2097</td>
                    <td>31 January 2098</td>
                    <td>Fire Snake
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </main>
    <footer th:replace="~{components/template :: footer}"></footer>
    <th:block th:replace="~{components/template :: scripts}"></th:block>
</body>

</html>